.Register {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    text-align: center;
    margin-top: 100px;
}

.frame {
    width: 320px;
    height: 270px;
    padding: 40px;
    background: white;
    border-radius: 16px;    
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.frame h1 {
    margin: 0;
    color: #273287;
    font-size: 24px;
}

input {
    width: 100%;
    padding: 12px;
    border: 2px solid #D3DDE7;
    border-radius: 10px;
    font-size: 15px;
    outline: none;
    box-sizing: border-box;
    transition: border 0.2s ease;
}

input:focus {
    border-color: #273287;
}

.but2 {
    width: 100%;
    padding: 12px;
    background: #273287;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease;
    box-sizing: border-box;
}

.but2:hover {
    background: #d6b4fc;
    color: #273287;
}
.link {
    font-size: 14px;
    color: #273287;
    cursor: pointer;
    margin-top: -8px; 
    font-weight: 700;
    text-decoration: underline;
    transition: all 0.2s ease;
}
.link span:hover {
    color: #D8E63C;
    transition: all 0.2s ease;
}